:host {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  width: 620px;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
}

.cf-btn {
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 10px;
  background: lightblue;
  font-size: 20px;
  padding: 5px;
  box-shadow: 2px 2px 3px black;
}

.cf-btn:hover {
  background: #80A6B4;
}

.display {
  display: flex;
  font-size: 25px;
  flex-grow: 1;
  justify-content: center;
}